<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tractor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tractor.description %>
</p>

<%= link_to 'Edit', edit_tractor_path(@tractor) %> |
<%= link_to 'Back', tractors_path %>
